<div class="container container-left-align-app">
  <div class="main-page-app col-md-5 col-sm-12 col-xs-12">
    <table class="table">
      <% @posts.each do |post| %>
          <tr>
            <td class="main-page-title">
              <hr>
              <div class="title-text">
                <p><%= post.publish_age_less %></p>
                <% if post.postable_type == "Article" %>
                    <h5><%= post.postable.headline %></h5>
                <% elsif post.postable_type == "Video" %>
                    <h5><%= post.postable.name %></h5>
                <% end %>
              </div>
              <div class="img">
                <%= image_tag post.thumbnail %>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-4">
  </div>
</div>
<%= will_paginate @posts %>