<div class="container main-page col-md-3 col-sm-3 col-xs-12">
  <div class="row">
    <table class="table-btn">
      <tr>
        <td colspan="2" align="center">
          <%= link_to "Articles", articles_path, class: "btn-active btn-left" %><!--
            !--><%= link_to "Videos", videos_path, class: "btn-inactive btn-right" %>
        </td>
      </tr>
    </table>
    <table class="table-content">
      <% @arr.each do |post, index| %>

          <!-- style='background-image: url(<%= %>); background-repeat:no-repeat; width: 100%;'-->
          <tr>
            <td class="col-left row-bottom-left" align="center">
              <div class="table-index"><%= sprintf '%02d', index %></div>
            </td>
            <td class="col-right row-bottom-right" align="left">
              <div class="headline-text">
                <%= truncate post.postable.headline, length: 34, separator: ' ' %></br>
              </div>
              <div class="subheadline-text">
                <%= post.postable.subHeadline.nil? ? "&nbsp;".html_safe : truncate(post.postable.subHeadline, length: 32) %>
              </div>
            </td>
            <td>

            </td>

            <%= image_tag post.thumbnail, class: 'tr-row' %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="col-md-9 col-xs-3"></div>