<div class="col-md-1"></div>
<div class="container main-page col-md-5 col-sm-12 col-xs-12">
  <div class="main-page-inner">
    <div class="row" align="center">
      <%= link_to "Articles", articles_path, class: "btn-active btn-left" %><!--
      --><%= link_to "Videos", videos_path, class: "btn-inactive btn-right" %>
    </div>
    <div class="row">
      <table>
        <% @arr.each do |post, index| %>
            <tr>
              <td>
                <span class="td-left"><%= sprintf '%02d', index %></span>
                <span class="td-right">
                  <%= truncate post.postable.headline, length: 50, separator: ' ' %></br>
                  <%= truncate post.postable.subHeadline, length: 50, separator: ' ' %>
                </span>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6"></div>