<div class="col-lg-3 col-md-3"></div>
<div class=" main-page-inner container col-lg-5 col-md-5">
  <!-- Navigation Buttons -->
  <div class="row" align="center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= link_to "Articles", articles_path, class: "btn-active btn-left" %><!--
    !--><%= link_to "Videos", videos_path, class: "btn-inactive btn-right" %>
    </div>
  </div>

  <!-- Content -->
  <% @arr.each do |post, index| %>
      <div class="row" align="center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table>
            <tr>
              <td class="col-left table-index">
                <%= sprintf '%02d', index %>
              </td>
              <td>
                <div class="col-right headline-text"><%= post.postable.headline %></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="subheadline-text">
                <%= post.postable.subHeadline.nil? ? "&nbsp;".html_safe : post.postable.subHeadline %>
              </td>
            </tr>
          </table>
        </div>

      </div>
  <% end %>
</div>
<div class="col-lg-4 col-md-4"></div>
