<h1>Posts</h1>
<%= will_paginate @posts %>
<div class="container">


  <% @posts.each do |post| %>
      <div class="row">


        <div class="col-md-3">
          Padding 1
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <% if post.postable_type == "Article" %>
              Article</br>


              Published at <%= post.publishDate %></br>

              <%= post.postable.headline %></br>

              <%= image_tag post.thumbnail %>
              </br>

          <% elsif post.postable_type == "Video" %>
              Video</br>


              Published at <%= post.publishDate %></br>
              <%= post.postable.name %></br>

              <%= image_tag post.thumbnail %>
              </br>
          <% end %>
        </div>
        <div class="col-md-3">
          Padding 3
        </div>

      </div>
  <% end %>
</div>
<%= will_paginate @posts %>
