<h1>Posts</h1>
<div class="container">
  <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="main-page col-md-6 col-sm-12 col-xs-12">
          <% if post.postable_type == "Article" %>
              <div class="main-page-title">
                <h5><%= post.publish_age_less %></h5>
                <h4><%= post.postable.headline %></h4>
              </div>
              <%= image_tag post.thumbnail %>
              </br>

          <% elsif post.postable_type == "Video" %>
              <div class="main-page-title">
                <h5><%= post.publish_age_less %></h5>
                <h4><%= post.postable.name %></h4>
              </div>
              <%= image_tag post.thumbnail %>
              </br>

          <% end %>
        </div>
        <div class="col-md-3">
        </div>
      </div>
  <% end %>
</div>
<%= will_paginate @posts %>
